<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!--Import Bootstrap core js-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!--import Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/fontawesome.min.css') }}">

    {% block head %} {% endblock %}
</head>
<body>
    
    {% block body %} {% endblock %}
</body>
<script src="{{ url_for('static', filename='js/jquery-3.5.0.min.js') }}"></script>

<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/search.js') }}"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js" charset="utf-8"></script>
<script src="{{ url_for('static', filename='js/fuzzequery.js') }}"></script>
</html>