{% extends 'base.html' %}

{% block header %}

{% endblock %}

{% block body%}

<div id="container" class="view-initial">
	<div id="banner-bkgrd">
		<div id="banner-overlay" class="expand-vertical">
			<header id="search-container" class="flex-column flex-center">
				<div id="search-heading">
					<h1>Stock Search Engine</h1>
				</div>
				<form id="search-form" class="flex-inline" method="GET">
					<input id="search-input" type="text" autocomplete="off" tabindex="1" autocapitalize="off" autocorrect="off" placeholder="Stock name or Stock code" />
					<input id="search-clear" class="" type="button" tabindex="3" value="×">
					<input id="search-btn" type="submit" tabindex="2" class="fa-lg" value="S" title="Search" />
				</form>
			</header>
			<!-- <div id="credits">
				<small>Search page designed and coded by <a href="https://tommoore.me.uk" target="_blank">Tom Moore</a></small>
			</div> -->
		</div> <!--/banner-overlay-->
	</div> <!--/banner-->
	<main id="results">
		<div id="stockPlot" class="flex-row flex-wrap justify-content-center"></div>
		<div id="indicator" class="flex-row flex-wrap justify-content-center"></div>
		<div id="stockTable" class="flex-row flex-wrap justify-content-center"></div>
	</main> <!--/results-->
</div> <!--/container-->


{% endblock %}